/* FOOTER */

footer {
  display: flex;
  flex-direction: column;
  gap: $sp-md;
  padding: $sp-md;
  background-color: $accent;
}

footer .container {
  background-color: $accent;
}

.row__l {
  display: flex;
  justify-content: space-between;
  padding: 40px 100px;
  gap: $sp-lg;
}

.footer__col h4 {
  color: $light;
  margin-bottom: $sp-md;
  font-size: $sp-sm;
  position: relative;
}

.footer__col h4::before {
  content: '';
  width: 70px;
  height: 2px;
  position: absolute;
  background-color: $secondary;
  bottom: -10px;
}

.footer__col ul li {
  padding: 10px 0;
}

.footer__col ul li a {
  color: $light;
  text-decoration: none;
  font-size: $sp-sm;
  opacity: 0.7;
  transition: 0.5s;
}

.footer__col ul li a:hover {
  opacity: 1;
}

.footer__col input {
  border: none;
  width: 200px;
  height: 40px;
  display: block;
  padding-left: 20px;
  padding-right: 20px;
  margin: 14px 0;
  
}

.footer__col .inputsubmit {
  padding: 0px 20px;
  background-color: $primary;
  border: none;
  color: $light;
}

.divider {
  content: "";
  width: 100%;
  height: 1px;
  background-color: $light;
}

.col p{
  padding-top: $sp-md;
  margin-bottom: $sp-lg;
  color: $light;
  font-size: $sp-sm;
  font-weight: 50;
}

.row__s {
  display: flex;
  justify-content: space-between;
  padding: 1px 50px;
  padding-left: 0;
  padding-right: 10px;
}

.socialicons {
  padding: $sp-md;
}

.row__S .socialicons {
  display: inline-block;
  color: $light;
  font-size: $sp-sm;
  margin: 0 15px;
  transition: 0.5s;
  
}

/* MEDIAS */
/* FOOTER */

@media screen and (max-width:930px) {
  footer .row__l {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 100px;
  gap: $sp-lg;
}
  footer .row__s {
    flex-direction: column;
    padding: 20px 30px;
  }
  footer .footer-col ul {
    margin-left: 20px;
    margin-bottom: 20px;
  }
  .footer__col input{
    width: 100;
  }
}